
body {
	color: RED;
	}
body { 
	background-image: url(https://media4.giphy.com/media/YJ85eVpdZDy7e/200_s.gif);
	}
h1 {
	    text-align: center;
	    }
h2 {
	text-align: center;
		}

h3 {
	text-align: center;
		    }
a { 
	text-align: center;
	 }
